<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'home' , media: 'all' %>
</head>

<body>
  <div class="container">
    <div class="cardin">
      <h1>
        <%=@title%>
      </h1>
      <p>
        <%=@description%>
      </p>
      <%= link_to "ir para investimentos" , investiment_index_path, class:'btn btn-dark' %>
        <%= link_to "ir para consorcios" , consortium_index_path, class:'btn btn-dark' %>
    </div>
    <div class="interativo">
      <%= image_tag("home2.svg", :alt=> "streinvest api", class:'image') %>
        <div class="align-text">
          <span>
            &nbsp;&nbsp;&nbsp;&nbsp;The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
            interested.
            &nbsp;&nbsp;&nbsp;&nbsp;Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also
            reproduced
            in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
          </span>
        </div>
    </div>
  </div>
</body>

</html>