<h2 style="color: #000;">	
    ID:
    <%= @summary['response']['_id'] %>
</h2>
<h2 style="color: #000;">
    nome do investimento: 
    <%= @summary['response']['investment_name'] %>
</h2>
<h2 style="color: #000;">
    status:
    <%= @summary['response']['status'] %>
</h2>
<h2 style="color: #000;">
    risco:	
    <%= @summary['response']['risk'] %>
</h2>
<h2 style="color: #000;">
    categoria:
    <%= @summary['response']['category'] %>
</h2>
<h2 style="color: #000;">
    create:	
    <%= @summary['response']['created_at'] %>
</h2>
<h2 style="color: #000;">	
    update:
    <%= @summary['response']['updated_at'] %>
</h2>
<h2 style="color: #000;">
    nome do consorcio emissor:	
    <%= @summary['response']['consortium']['consortium_name'] %>
</h2>
<h2 style="color: #000;">
    dia:	
    <%= @summary['response']['profitability']['day'] %>
</h2>
<h2 style="color: #000;">
    mes:	
    <%= @summary['response']['profitability']['month'] %>
</h2>
<h2 style="color: #000;">
    ano:	
    <%= @summary['response']['profitability']['year'] %>
</h2>
<h2 style="color: #000;">
    score:	
    <%= @summary['response']['profitability']['score'] %>
</h2>
<h2 style="color: #000;">
    valor minimo:	
    <%= @summary['response']['profitability']['minimum_value'] %>
</h2>

<%= link_to "Editar", investment_edition_path('invest_id' => @summary['response']['_id']) %>
<br/>
<%= link_to "excluir", investment_destroy_path('invest_id' => @summary['response']['_id']) %>
<br/>
<%= link_to "ir para investimentos", investiment_index_path %>