<h1>Lista de Consorcios</h1>
<p>Emissores de investimentos</p>

<%= link_to "voltar home", root_path %>
<br/>
<%= link_to "criar consorcios", new_consortium_path %>

<h1>Listagem de investimento</h1>

<% @summarys['response'].each do |summary| %>
  <h2 style="color: #000;">	
    ID:
    <%= summary['_id'] %>
  </h2>
  <h2 style="color: #000;">
    nome do investimento: 
    <%= summary['consortium_name'] %>
  </h2>
  <h2 style="color: #000;">
    create:	
    <%= summary['created_at'] %>
  </h2>
  <h2 style="color: #000;">	
    update:
    <%= summary['updated_at'] %>
  </h2>
  <br/>
  <%= link_to "Editar", consortium_edition_path('conso_id' => summary['_id']) %>
  <br/>
  <%= link_to "Excluir", consortium_destroy_path('conso_id' => summary['_id']) %>
  <hr/>
<% end %>

